/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
table {
    table-layout: fixed;
}
#gameBoard td, #gameBoard tr {
    border: 1px solid black;
    color: white;
}

#gameBoard .empty {
    background-color: white;
}
#gameBoard .redPlayer {
    background-image: url("../assets/red-player.jpg");
    background-size: 100% 100%;
}
#gameBoard .bluePlayer {
    background-image: url("../assets/blue-player.jpg");
    background-size: 100% 100%;
}
#gameBoard .redPlayerWithPiece {
    background-image: url("../assets/red-player-with-piece.jpg");
    background-size: 100% 100%;
}
#gameBoard .bluePlayerWithPiece {
    background-image: url("../assets/blue-player-with-piece.jpg");
    background-size: 100% 100%;
}
#gameBoard .piece {
    background-image: url("../assets/piece.jpg");
    background-size: 100% 100%;
}
#gameBoard .goal {
    background-image: url("../assets/goal.jpg");
    background-size: 100% 100%;
}
#gameBoard .discoveredNonGoal {
    background-image: url("../assets/discovered-non-goal.jpg");
    background-size: 100% 100%;
}
#gameBoard .discoveredGoal {
    background-image: url("../assets/discovered-goal.jpg");
    background-size: 100% 100%;
}
#gameBoard .sham {
    background-image: url("../assets/sham.jpg");
    background-size: 100% 100%;
}
#gameBoard .redPlayerWithSham {
    background-image: url("../assets/red-player-sham.jpg");
    background-size: 100% 100%;
}
#gameBoard .bluePlayerWithSham {
    background-image: url("../assets/blue-player-sham.jpg");
    background-size: 100% 100%;
}
#gameBoard .redGoalArea {
    border-color: crimson;
    border-width: 3px;
}
#gameBoard .blueGoalArea {
    border-color: darkblue;
    border-width: 3px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
